body {
  margin: 0;
  padding: 0;
}

.mostContent.mostContent {
  padding: 24px;
}

.formHeader.formHeader {
  margin-bottom: 24px;
}

.formSubtitle.formSubtitle {
  margin-bottom: 16px;
}

.whitespace.whitespace {
  white-space: pre;
}